
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Fraunces:opsz,wght@9..144,700&family=Lato&family=Nunito+Sans:opsz,wght@6..12,600&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=PT+Sans&family=Roboto:ital,wght@0,100;1,400&family=Rubik+Doodle+Triangles&family=Rubik:wght@300&family=Sacramento&family=Source+Code+Pro:ital,wght@1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    height: 100%;
     
}


/* start nav with button */
nav {
    background-color: #E5F4FB;
    display: flex;
    align-items: center;
    padding: 70px 200px;
 }

nav a {
    color: #5E6D73;
    padding: 14px 16px;
    text-decoration: none;
  }

nav a:hover {
    background-color: #2CACE2;
    
  
}

.home{
    border-bottom: 2px solid #00AEEF;
}

.logo img {
    height: 100px;
}
.login{
    margin-left: auto;
    position: relative;
 }

.login a  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #FFFFFF;
    padding:0;
    border: none;
 }

 .login img:hover{
     
    transform: scale(1.1); 
    cursor: -webkit-grab; cursor: pointer;

        
 }



 
 .login a  button{
    border:none;
    background-color:  #FFFFFF;
    font-size: 15px;
    color: #5E6D73;
    cursor: -webkit-grab; cursor: pointer;
    

   
 }

 nav div a:hover {
    background-color: #fff;
    border: none;
     
    
  }

  /* End nav with button */

  /* Start section one */

  
.background_section_one{
    background-color: #E5F4FB;
    border-radius: 0 0 130% 60%;
    margin-bottom: 100px;
  }


.section_one{
    background-color: #E5F4FB;
    display: flex;
    Width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 150% 70%;

}

.left_sec_one, .right_sec_one{
    width:50%;
     margin-top:80px;
     
 }

 .right_sec_one{
    display: flex;
    justify-content: center;

 }

 .left_sec_one{
    
    padding-left: 100px;
    padding-top: 15%;
    
 }

 .left_sec_one h1{
    font-family: "Average Sans", sans-serif;
    font-size: 50px;
    color: #5E6D73;

 }

 .left_sec_one h1 span{
    color: #867ABC;
 }

 .left_sec_one p {
    font-family: "Average Sans", sans-serif;
    font-size: 23.8px;
    color: #5E6D73;
    font-weight: bold;

 }

.secone_image1 img{
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}

.secone_image2 img{
    position: absolute;
    width: 28%;

    top: 85%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.secone_image3 img{
    position: absolute;
    width:12%;
    top: 59%;
    left: 66%;
    transform: translate(-50%, -50%);

    

}

.secone_image4 img{
    position: absolute;
    top: 98%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* End  section one */

/* start section two */

.section_two{

    background-color: #fff;



  
    
}

.image_section_2_main{
    margin: 300px 0 0 300px;


 

}
.sectwo_image1{
    position: relative;
 


    
}

.left_sec_2 {
    position: absolute;
    top: 130%;
    left:10%;
 

}


.middle_sec_2{
    position: absolute;
    top: 160%;
    left:40%;
 

}

.right_sec_2_1{
    position: absolute;
    top: 200%;
    left:10%;

}
.right_sec_2_1 p {
    position: absolute;
    top: 36%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: "Average Sans", sans-serif;
    color:#fff

}

.right_sec_2_1 h1{
    position: absolute;
    top: 40%;
    left: 25%;
    font-family: "Average Sans", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color:#fff



}


.right_sec_2 {
    position: absolute;
    top: 193%;
    left:62%;
    
}

.left_sec_2 h1, .middle_sec_2 h1, .right_sec_2 h1{
    font-family: "Average Sans", sans-serif;
    font-size: 23.8px;
    color: #5E6D73;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;

}




.left_sec_2 p, .middle_sec_2 p, .right_sec_2 p{

    width: 350px; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
    font-family: "Average Sans", sans-serif;
    color: #5E6D73;
    font-size: 18px;
    font-weight: bold;




}

/* End section two */

/* Start Section three */

.section_three{
    display: flex;
     margin-top: 20%;
    justify-content: center;
    align-items: center;
}

.img_sec_three{

    padding: 50px;
    text-align: center;
    color: #5E6D73;
    font-family: "Average Sans", sans-serif;


    

}


.img_sec_three h1 {

     font-size: 23.8px;
     font-weight: bold;
     text-align: center;
     padding: 10px;
     margin-top: -5%;


}
.img_sec_three p {
    width:230px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;



      
}


/* End Section three */

/* Start Section Four */


.footer img{
    height: 69.2%;
    margin-top: -275px;
    top: 310%;
    position:absolute;
    width: 100%

}

.delivery img{
    height:51%;
position: absolute;
width: 40%;
top: 299%;
left:50%;


}



 

.buttons{
    display: flex;
     margin: 50px;
    cursor: pointer;

}

.button1{
    background-color: #fff;
    width:6.5%;
    height: 5%;
    padding: 15px;
    color: #292929;
    z-index: 3;
    border-radius: 10%;
    text-decoration: none;
    position: absolute;
    top: 327%;
    left:9%
    
    
    

    
     
     
}

.button2{
    position: absolute;
    padding: 15px;
    width:6.5%;
    height: 5%;
    background-color: #fff;
    border-radius: 10%;
    color: #292929;
    text-decoration: none;
    top: 327%;

    left:18%
    
}

.button1 img , .button2 img{
    width: 20px;
    position: absolute;
    top:25%;
    left:10%
    


}
.button1 p , .button2  p{
    text-align: end;
    font-size: 16px;

}


.social_media{
    top: 332%;

    margin: 12px;
    display: flex;
    position: absolute;
    left:7.5%

    

    
}
.social_media img{
    margin: 15px;
    bottom:50%;
}

.list {
    
    position: absolute;
    display: flex;
    align-items: center;
    padding: 70px 155px;
    top: 332%;
    


}

.list a{
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
}



/* .button1 {
    position: absolute;
    overflow: hidden;
    margin: 10px;
    border: none;
    background-color: #2CACE2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s; */



/* .button2{
     position: absolute;
    overflow: hidden;
    margin: 10px;
    background-color: #2CACE2;
    color: #fff; */








.button1:hover {
    background-color: #1C7EBD;
}
.button2:hover {
    background-color: #1C7EBD;
}

.button img {
    display: block;
    width: 100%;
    height: auto;
}
/* End Section Four */





/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {

    nav {
        flex-direction: column; 
        align-items: flex-start;
    }

    .logo img {
        height: 60px; 
    }

    .login {
        margin-top: 10px;
    }

    .login a {
        flex-direction: column;
        align-items: flex-start;
    }

    .login a button {
        font-size: 12px; 
    }



.background_section_one {
    background-color: #E5F4FB;
    border-radius: 0 0 130% 60%;
    margin-bottom: 100px;
}

.section_one {
    background-color: #E5F4FB;
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 150% 70%;
}

.left_sec_one,
.right_sec_one {
    width: 100%; 
    margin-top: 20px; 
}

.right_sec_one {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.left_sec_one {
    padding: 20px; 
    text-align: center;
}

.left_sec_one h1 {
    font-size: 30px; 
}

.left_sec_one h1 span {
    color: #867ABC;
}

.left_sec_one p {
    font-size: 18px; 
    font-weight: bold;
}

.secone_image1 img {
    width: 100%;
}

.secone_image2 img,
.secone_image3 img,
.secone_image4 img {
    width: 50%; 
}



.section_two {
    background-color: #fff;
}

.image_section_2_main {
    margin: 50px 0 0 0; 
}

.sectwo_image1 {
    position: relative;
}

.left_sec_2,
.middle_sec_2,
.right_sec_2_1,
.right_sec_2 {
    width: 100%; 
    margin-top: 20px; 
    text-align: center;
}

.right_sec_2_1 p {
    font-size: 18px; 
}

.right_sec_2_1 h1 {
    font-size: 40px; 
}

.left_sec_2 h1,
.middle_sec_2 h1,
.right_sec_2 h1 {
    font-size: 18px; 
    margin-top: 10px; 
}

.left_sec_2 p,
.middle_sec_2 p,
.right_sec_2 p {
    width: 100%; 
    font-size: 14px; 
    margin-top: 10px; 
}



.section_three {
    display: flex;
    flex-direction: column; 
    margin-top: 10%; 
    align-items: center;
}

.img_sec_three {
    padding: 20px; 
    text-align: center;
    color: #5E6D73;
    font-family: "Average Sans", sans-serif;
}

.img_sec_three h1 {
    font-size: 18px; 
    font-weight: bold;
    padding: 10px;
    margin-top: -5%;
}

.img_sec_three p {
    width: 100%; 
    font-size: 14px; 
    font-weight: bold;
    margin: 10px auto; 
}





.footer img {
    height: 100%; 
    width: 100%; 
    position: absolute;
    top: 100%; 
    left: 0; 
}

.delivery img {
    height: 100%; 
    width: 100%; 
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.app-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.app-button {
    margin-bottom: 20px;
}

.app-button img {
    width: 50px; 
    height: auto;
}

.app-button .apple,
.app-button .google {
    position: static; 
    margin-bottom: 10px; 
}



}




